
{% block content %}


<!DOCTYPE html>
<html lang="en">
<body>
<!-- **************** MAIN CONTENT START **************** -->
<main>

<!-- =======================
Main banner START -->
<section class="position-relative py-5 py-lg-5" style="background-image:url(static/assets/images/bg/20.jpg); background-position: center left; background-size: cover;">
	<!-- Background dark overlay -->
	<div class="bg-overlay bg-dark opacity-8"></div>
	<div class="container z-index-9 position-relative">
		<div class="row py-sm-4">
			<!-- Title -->
			<div class="col-xl-7 m-auto text-center">
				<br>
				<h6 class="text-white fw-normal mb-3">Sustainable Hosts + World</h6>

				<h1 class="display-6 text-white mb-0">Intel Find</h1>
					<h6 class="text-white fw-normal mb-3"></h6>

			</div>

		</div> <!-- Row END -->
	</div>
</section>

<section>

					<!-- Form START -->
					<form class="form-inline">
                        <form action="/" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="file">Select a PDF file:</label>
                                <input type="file" id="file" name="file" accept=".pdf"><br>
                            </div>
                            <div class="form-group">
                                <label for="question">Type your question:</label>
                                <input type="text" id="question" name="question" required><br>
                            </div>
                                <input type="submit" value="Submit">
                        </form>
                        {% if response %}
                        <h2>Response:</h2>
                        <pre>{{ response }}</pre>
                        {% endif %}
					</form>
					<!-- Form END -->

</section>


</main>
<!-- **************** MAIN CONTENT END **************** -->


<!-- Back to top -->
<div class="back-top"></div>

<!-- Bootstrap JS -->
<script src="{{url_for('static', filename="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js")}}"></script>

<!-- Vendors -->
<script src="{{url_for('static', filename="assets/vendor/choices/js/choices.min.js")}}"></script>
<script src="{{url_for('static', filename="assets/vendor/tiny-slider/tiny-slider.js")}}"></script>
<script src="{{url_for('static', filename="assets/vendor/flatpickr/js/flatpickr.min.js")}}"></script>
<script src="{{url_for('static', filename="assets/vendor/glightbox/js/glightbox.js")}}"></script>



<!-- ThemeFunctions -->
<script src="{{url_for('static', filename="assets/js/functions.js")}}"></script>


</body>
</html>


{% endblock %}

